<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dojo Survey</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dojo_survey.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/dojo_survey.js') }}"></script>
</head>
<body>
	<form id="survey_index" action="/result" method="post">
		<li>
			<h3>Your Name:</h3><input type="text" name="name">
		</li>
		<li>
			<h3>Dojo Location</h3>
			<select form="survey_index" name="location">
				<option value="San Jose">San Jose</option>
				<option>Los Angeles</option>
				<option>Chicago</option>
			</select>
		</li>
		<li>
			<h3>Favorite Language:</h3>
			<select form="survey_index" name="language">
				<option>Ruby</option>
				<option>Python</option>
				<option>iOS</option>
			</select>
		</li>
		<li>
			<h3>Comment (optional):</h3><input id="comment" type="text" name="comment">
		</li>
		<input id="button" type="submit" value="button">
	</form>
</body>
</html>