<!DOCTYPE html>
<html>
<head>
	<title>Ninja Gold</title>
	<style type="text/css">
		.green{
			color: green;
		}
		.red{
			color: red;
		}
	</style>
</head>
<body>
	<div>
		{{ session['result'] }}
	</div>
	<div>
		<form action="/process_money" method="post">
			<input type="hidden" name="hidden" value="farm">
			<input type="submit">
		</form>
	</div>
	<div>
		<form action="/process_money" method="post">
			<input type="hidden" name="hidden" value="cave">
			<input type="submit">
		</form>
	</div>
	<div>
		<form action="/process_money" method="post">
			<input type="hidden" name="hidden" value="house">
			<input type="submit">
		</form>
	</div>
	<div>
		<form action="/process_money" method="post">
			<input type="hidden" name="hidden" value="casino">
			<input type="submit">
		</form>
	</div>
	<div class="red">
		fkajsdl;
	</div>
	<div>
		Activities:
		<ul>
			{% for i in activities: %}
			<li class="{{ i[0] }}">{{ i[1] }}</li> 
			{% endfor %}
		</ul>
	</div>
</body>
</html>